@font-face {
  font-family: 'Saar SP Demo';
  src: url('./fonst/SaarSPDemo.otf') 

}
@font-face {
  font-family: 'Inter';
  src: url('./fonst/Inter-Regular.ttf') 

}

@font-face {
  font-family: 'Righteous';
  src: url('./fonst/Righteous-Regular.ttf') 

}

.App {
  background: black;
  /* text-align: center; */
  width: 100%;
  height: 100%;
  
}

.earth{

  min-width: 320px;
  min-height: 200px;
}

.main{
  padding-bottom: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.StarsCanvas {
  width: 100%;
  height: auto;
  position: absolute;
  inset: 0;
  z-index: -1;
}
.srt{
  position: absolute;
}

.app2{
  background-size: 100% 100%; /* Растягиваем изображение на 100% по ширине и высоте контейнера */
  background-position: center;
  background-repeat: no-repeat;

  background-image: url('./components/back.png');
}
.app1{
  max-width: 1400px;
 
  margin: 0 auto;
 
  box-sizing: border-box;
}
.nav_container{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 90px;
  padding-top: 40px;
  gap: 150px;
}
.logo{
  transition: 0.5s ease;
}

.nav_logo{

}

.ww{
  min-width: 114.52px;
}

.nav-list{
  display: flex;
  min-width: 495px;
  flex-direction: row;
  gap: 20px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}
.nav-list_el{
  color: #FFF;
  transition: all 0.3s ease; /* Добавляем переход ко всем свойствам с продолжительностью 0.3 секунды и функцией ускорения */

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 23px */
letter-spacing: -0.2px; 
}

.nav-list_el:hover{
  cursor: pointer;
  filter: brightness(0.8); /* Затемнение элемента при наведении (80% яркости) */
  transform: translateY(-10px); /* Поднятие элемента на 10 пикселей при наведении */
}

.nav_contact{
  display: flex;
  width: 217px;
  min-width: 156px;
height: 70px;
  border-radius: 54px;
  background: #C6DA4B;
  justify-content: center;
align-items: center;


}

.nav_contact:hover{
  cursor: pointer;
  filter: brightness(0.8); /* Затемнение элемента при наведении (80% яркости) */
}

.nav_txt{


justify-content: center;
align-items: center;

flex-shrink: 0;
}

.info{
  display: flex;
  flex-direction: column;
  max-width: 623px;
  height: 274px;
  gap: 21px;
  padding-bottom: 120px;
}



.info_title{
  color: #FFF;
  display: flex;
text-align: left;

  font-family: Saar SP Demo;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;

  letter-spacing: -1.2px;
  text-transform: uppercase;
}

.info_subtit{
  color: #E3E3E3;
max-width: 572px;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 115%; /* 28.75px */
letter-spacing: -1px;
text-align: left;
}

.moreinfo_btn{
  border-radius: 54px;
background: #C6DA4B;
display: flex;
max-width: 572px;
height: 70px;

justify-content: center;
align-items: center;
transition: all 0.3s ease;
flex-shrink: 0;
}

.moreinfo_btn:hover{
  cursor: pointer;
  filter: brightness(0.8); /* Затемнение элемента при наведении (80% яркости) */
}

.moreifo_txt{
  color: #060606;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 23px */
letter-spacing: -0.2px;
}

.products{
  background: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;
  
}

.second_title{
  color: #FFF;

font-family: Saar SP Demo;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: 90%; /* 49.5px */
letter-spacing: -1.1px;
text-transform: uppercase;
padding-bottom: 75px;
}

.products_context{
  display: flex;
  flex-direction: row;
 
}

.products_context_left{
  display: flex;
  flex-direction: column;
  padding-right: 220px;
  transition: padding-right 0.5s ease;
}

.products_menu{
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.menu_item{
color: #D3D3D3;
text-align: start;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 115%; /* 23px */
letter-spacing: -0.8px;
text-transform: uppercase;
transition:  0.5s ease-in-out;
}

.menu_item:not(.selected):hover {
  cursor: pointer;
  filter: brightness(0.8); /* Затемнение элемента при наведении (80% яркости) */
  transform: translateX(10px); /* Поднятие элемента на 10 пикселей при наведении */
}




.products_title{
  margin-bottom: -60px;
  color: #FFF;
display: flex;
align-items: flex-start;
font-family: Inter;
font-size: 30px;
padding-bottom: 15px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 36px */
letter-spacing: -0.3px;
text-transform: uppercase;
}

.products_content{

flex-shrink: 0;
border-radius: 13px;

margin-bottom: 20px;
}

.products_text{
  display: flex;
  color: #D3D3D3;
align-items: flex-start;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 23px */
letter-spacing: -0.8px;
padding-bottom: 25px;

}

.products_btn{
  display: flex;

width: 100%;
height: 68px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;

border-radius: 54px;
border: 1px solid #000;

background: #C6DA4B;
}

.products_context_rigth{
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease;
  opacity: 1; /* Set the initial opacity to 1 */
  

}
.transition-effect {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}



.custom-css-for-case2-img{



  margin-top: 100px;
}
.custom-css-for-case3-img{

  margin-top: 90px;
}

.custom-css-for-case4-img {

  margin-top: -345px; /* или другой отрицательный/положительный отступ, который вам нужен */
  height: 880px;
  pointer-events: none; /* Это свойство позволяет "проходить" событиям мыши через элемент */
}

.products{
  padding-bottom: 120px;
}

.about{
  display: flex;
  flex-direction: column;
}

.about_title{
  display: flex;
  color: #FFF;
align-items: flex-start;
justify-content: flex-start;
font-family: Saar SP Demo;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: 90%; /* 49.5px */
letter-spacing: -1.1px;
text-transform: uppercase;
padding-bottom: 71px;

}

.cons_section{
  
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.con{
  display: flex;
  flex-direction: column;
  min-width: 311.06px;
}

.con_title{

color: #C6DA4B;

font-family: Righteous;
font-size: 114.861px;
font-style: normal;
font-weight: 400;
line-height: 80%; /* 91.889px */
letter-spacing: -2.297px;
text-transform: uppercase;
padding-bottom: 20px;
}

.con_subtitle{
  color: #D1D1D1;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 23px */
letter-spacing: -0.6px;
}

.vertical-line {
  flex-grow: 1;
  border-right: 1px solid #fff; /* Цвет и стиль линии */

}

.con_li{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.bar_png{
  align-items: flex-start;
  height: 280px;
  padding-right:5px ;
}

.const_list{
  display: flex;
  flex-direction: column;
}

.const_txt{
  color: #D1D1D1;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 23px */
letter-spacing: -0.6px;
padding-bottom: 5px;
white-space: nowrap;
}

.about_btn{
  margin-top: 80px;
  border-radius: 54px;
border: 1px solid #000;
display: flex;

padding: 24px 46px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background: #C6DA4B;
}

.aboutbtn_txt{
  
color: #060606;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 23px */
letter-spacing: -0.2px;
}

.traders{
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.trade_titile{
  align-items: flex-start;
  display: flex;
  color: #FFF;
font-family: Saar SP Demo;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: 90%; /* 49.5px */
text-transform: uppercase;
}

.trade_subtitle{
  padding-top: 10px;
  color: #D3D3D3;
align-items: flex-start;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 23px */
letter-spacing: -0.6px;
padding-bottom: 45px;
}

.box{
  max-width: 460px;
  border-radius: 11px;
border: 2px solid #C6DA4B;
padding: 10px 20px 15px;
max-width: 453px;
}

.box_header{
  display: flex;
  flex-direction: row;
  padding-top: 10px;

}

.box_img{
  border-radius: 13.097px;
  width: 79px;
height: 79px;
padding-bottom: 12px;
padding-right: 14px;

}


.dop_css{
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.box_title{
  align-items: center;
  display: flex;
  flex-direction: row;
justify-content: space-between;
gap: 20px;
}

.box_name{
  color: #FFF;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 24px */
letter-spacing: -0.2px;
text-transform: uppercase;
}
.coins {
  /* Дополнительные стили для изображения монет */
  margin-left: auto; /* Переместить элемент в конец строки */
}

.box_sub{
  color: #014AB9;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 115%; /* 18.4px */
letter-spacing: -0.16px;
}

.video_mp{width: 624.766px;
height: 351.508px;
}

.box_subt{
  color: #D1D1D1;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 23px */
letter-spacing: -0.4px;
padding-right: 14px;
max-width: 416px;


}
.custom-scroll {
  overflow-y: auto; /* Включить вертикальный скролл */
  max-height: 185px; /* Установить максимальную высоту, чтобы появлялся скролл, если контент слишком длинный */
  /* Добавьте другие стили по вашему желанию */

}

.custom-scroll::-webkit-scrollbar {
  height: 200px;
  width: 6px; /* ширина скроллбара */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #C6DA4B; /* цвет ползунка скроллбара */
  border-radius: 6px; /* закругление углов ползунка */
}

.custom-scroll::-webkit-scrollbar-track {
  background-color:#181818; /* цвет трека (фона) скроллбара */
}

.company{
  padding-top: 59px;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.abcomp_title{
  color: #FFF;
  font-family: Saar SP Demo;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 49.5px */
  text-transform: uppercase;
  align-items: flex-start;
  padding-bottom: 70px;
}



.abcomp_group{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.abcomp_chunk{
    gap: 20px;

  display: flex;
  flex-direction: column;
}

.abcomp_box1{
  padding-left: 21px;
  overflow: hidden;
  padding-right: 27px;
  height: 383px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
background: #F0F0F0;
}


.abcomp_box2{
  padding-left: 21px;
  overflow: hidden;
  padding-right: 27px;
  height: 383px;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
background: #F0F0F0;
background-image: url('./components/assets/fram1.png');
}

.box1_title{
  padding-top: 36px;
  padding-bottom: 15px;
  color: #060606;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 24px */
letter-spacing: -0.2px;
text-transform: uppercase;
align-items: flex-start;
}

.box2_title{
  padding-top: 36px;
  padding-bottom: 15px;
  color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 24px */
letter-spacing: -0.2px;
text-transform: uppercase;
align-items: flex-start;
}

.box3_title{

  padding-bottom: 15px;
  color: #060606;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 24px */
letter-spacing: -0.2px;
text-transform: uppercase;
align-items: flex-start;
}

.box1_subtitle{
  color: #605F5F;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 400;
max-width: 430px;
line-height: 115%; /* 23px */
letter-spacing: -0.6px;
align-items: flex-start;
}

.box3_subtitle{
  color: #605F5F;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 400;
max-width: 542px;
line-height: 115%; /* 23px */
letter-spacing: -0.6px;
align-items: flex-start;
}

.box2_subtitle{
  color: #B9B9B9;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 400;
max-width: 453px;
line-height: 115%; /* 23px */
letter-spacing: -0.6px;
align-items: flex-start;
}



.box1_num{
  color: #1DC7D5;
font-family: Righteous;
font-size: 570.186px;
font-style: normal;
font-weight: 400;
line-height: 80%; /* 456.149px */
letter-spacing: -11.404px;
text-transform: uppercase;
display: flex;

}

.box1_group{
  display: flex;
  flex-direction: column;
}

.abcomp_img{
display: flex;
max-width: 570px;
  border-radius: 10px;
}

.abcomp_box3{
  padding: 24px 8px  10px 24px;

  border-radius: 10px;
background: #F0F0F0;
}

.abcomp_box4{
  padding-top: 24px;
  padding-right: 24px;
  overflow: hidden;
  height: 329px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
background: #F0F0F0;
}

.box_img2{
  width: 381px;
  height: 338px;
}

.app3{

    background-size: 100% 100%; /* Растягиваем изображение на 100% по ширине и высоте контейнера */
    background-position: center;
    background-repeat: no-repeat;
  
    background-image: url('./components/assets//back2.png');

}



.abc_gr{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.trade_group{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-start;
}

.vector_group{
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  gap: 17px;
  align-items: flex-start;
}

.custom-next.disabled {
  /* Стили для отключенной стрелки "Next" */
  filter: grayscale(100%);
  cursor: not-allowed;
}

.custom-prev.disabled {
  /* Стили для отключенной стрелки "Prev" */
  filter: grayscale(100%);
  cursor: not-allowed;
}

.custom-next1.disabled {
  /* Стили для отключенной стрелки "Next" */
  filter: grayscale(100%);
  cursor: not-allowed;
}

.custom-prev1.disabled {
  /* Стили для отключенной стрелки "Prev" */
  filter: grayscale(100%);
  cursor: not-allowed;
}

.menu_item.selected {
 padding-left: 20px; /* Specify your desired color for the selected item */
  color:#C6DA4B; /* Specify your desired text color for the selected item */
  /* Add any other styles for the selected item */
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.lol1{
  max-width: 624.766px;
  transition: 0.5s step-end ;
}

.team_title{
  color: #FFF;

font-family: Saar SP Demo;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: 90%; /* 49.5px */
text-transform: uppercase;
padding-top: 208px;
display: flex;
align-items: flex-start;
padding-bottom: 7px;
}

.team_rg{
  display: flex;
  flex-direction: row;
  gap: 17px;
  
}

.rg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

.team_name{
  color: #FFF;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 24px */
letter-spacing: -0.2px;
text-transform: uppercase;
padding-bottom: 8px;
}

.team_el{

  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.team_img{
  width: 335px;
  height: 343px;
  padding-bottom: 10px;
}

.team_sub{
  color: #909090;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
letter-spacing: -0.6px;
}

.faq{
  display: flex;
  flex-direction: column;
  padding-top: 100px;

}

.faq_title{
  color: #FFF;
font-family: Saar SP Demo;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: 90%; /* 49.5px */
text-transform: uppercase;
align-items: flex-start;
padding-bottom: 70px;
}


.question {

  display: flex;
  color: #FFF;
  font-family: Inter;

  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
  letter-spacing: -0.3px;
  align-items: flex-start;
  padding-bottom: 20px;
}

.qwe_tzt{

}
.products_context_right {
  transition: opacity 0.5s ease; /* Adjust the duration and easing function as needed */
}

.transitioning {
  opacity: 0;
} 
.q{
  min-width: 557px;
}

.horizontal-line {
  margin-bottom: 20px;
  width: 100%;
 
  border: 1px solid #393939; 
  /* Цвет и стиль линии (можете настроить под свой дизайн) */
}



.answer{
  color: #C5C5C5;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
letter-spacing: -0.6px;
padding-bottom: 20px;
}

.expanded{
  border-color: #C6DA4B;
}

.qwes{
  display: flex;
  flex-direction: row;
 
}

.num{
  color: #FFF;

  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  margin-right: 79px;
  transition: margin-right 0.3s ease
}

.question-text{
  display: flex;
  flex-direction: row;

}

.accordion-item{
  
}

.faq_item{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}


.qqq{
  display: flex;
  flex-direction: column;
}

.q {
  background: black;
  transition: opacity 0.5s ease; /* Adjust the duration and easing function as needed */
}

.fdq_item_gr {
  display: flex;
  flex-direction: column;

 
}
.line {
  height: 1px;
  background-color: #000; /* Цвет линии */
  width: 100%; /* Растянуть линию на всю ширину родительского контейнера */
  margin: 10px 0; /* Отступы, если необходимо */
}


.fqwe{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon{
  display: flex;
  align-items: flex-start;
}


.horizontal_gr{
  display: flex;
  flex-direction: row;
}


.contacts{
  padding-top: 67px;
  padding-left: 60px;
  padding-right: 118px;
  padding-bottom: 67px;
  margin-top: 70px;
  border-radius: 10px;
  background: #0C0C0C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.contact_input{
  width: 432px;
  height: 58px;
  border-radius: 54px;
  background: #FFF;
  margin-bottom: 5px;
border: none;
color: #060606;;

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 20.7px */
letter-spacing: -0.18px;
padding-inline-start: 22px;

}

.contact_inf{
  display: flex;
  flex-direction: column;
}

.contact_title{
  color: #FFF;
font-family: Saar SP Demo;
font-size: 49.123px;
font-style: normal;
font-weight: 400;
line-height: 90%; /* 44.211px */
letter-spacing: -0.982px;
text-transform: uppercase;
align-items: flex-start;
padding-bottom: 5px;
}

.contact_sub{
  color: #C5C5C5;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: -0.6px;
  padding-bottom: 10px;
}

.plaq{
  position: relative;
  left: 70%;
  top: 60px;
}

.plaq_txt{
  color: #060606;

text-align: center;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 26.4px */
letter-spacing: -0.22px;
text-transform: uppercase;
  position: relative;
  left: 60.5%;
  top: 25px;
}

.plaq_txt1{
  color: #060606;

text-align: center;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 26.4px */
letter-spacing: -0.22px;
text-transform: uppercase;
  position: relative;
  left: 61.5%;
  top: 25px;
}

.contact_email{
  color: #C5C5C5;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
letter-spacing: -0.6px;
align-items: flex-start;
}

.sample-slider {
  width: 100%;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  flex-shrink: 0;
  width: calc((100% - 20px) / 3); /* Adjust the width based on your design */
  margin-right: 10px;
}

.contact_form{
  display: flex;
  flex-direction: column;
}
.contact_name{
  width: 454px;
height: 58px;
  border-radius: 54px;
background: #FFF;
margin-bottom: 5px;
}

.contact_number{
  width: 454px;
height: 58px;
  border-radius: 54px;
background: #FFF;
margin-bottom: 20px;
}

.contact_btn_group{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contact_btn{
  width: 335px;

  border-radius: 44.76px;
background: #C6DA4B;
display: flex;
align-items: center;
justify-content: center;

}

.contact_tg{
  
  border-radius: 44.76px;
background: #1DC7D5;
padding: 19.893px 38.129px;
justify-content: center;
align-items: center;
display: flex;
}

.contact_btn_txt{
  color: #060606;

text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 20.7px */
letter-spacing: -0.18px;
}

.footer{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
}

.footer_txt{
  color: #444;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 23px */
letter-spacing: -0.2px;
text-transform: uppercase;
align-items: flex-start;
}

.footer_txt2{
  color: #444;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 23px */
letter-spacing: -0.2px;
text-transform: uppercase;
align-items: flex-start;
}

.accordion-menu{
  display: flex;
  flex-direction: column;
  margin-right: 10%;

  margin-left: 10%;
}

.footer_el_gr{
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 15px;
  margin-right:121px ;
}
.footer_el_gr2{
  display: flex;
  flex-direction: column;
  gap: 3px;

  margin-right:592px ;
}

.icon.flipped {
  transform: rotate(180deg);
  filter: brightness(0) invert(1);
}

.footer_el{
  color: #444;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 23px */
letter-spacing: -0.2px;
align-items: flex-start;
}

.videotube-modal-overlay {
		color: #fff;
		display: none;
		z-index: 995;
		opacity: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		position: fixed;
		background: #000;
		text-align: center;
}

#videotube-modal-container {
		z-index: 998;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
}

#videotube-modal {
		text-align: center;
		box-shadow: 0 0 40px #333;
}

#videotube-modal-loading {
		position: fixed;
		z-index: 997;
		font-size: 1.5em;
		top: 49%;
		width: 5%;
		text-align: center;
		left: 45%;
}

#videotube-modal-close {
		position: fixed;
		right: 15px;
		top: 15px;
		padding: 3px 13px;
		z-index: 999;
		font-size: 25px;
		text-shadow: 0 0 10px #fff;
		border-radius: 3px;
		cursor: pointer;
		-webkit-transition-duration: 0.1s;
		-o-transition-duration: 0.1s;
		-moz-transition-duration: 0.1s;
		transition-duration: 0.1s;
}

#videotube-modal-close:hover {
		background: #333;
}

.swiper-wrapper{
  max-width: 1400px;
}



@media only screen and (max-width: 1400px) {

  .box_name{
    font-size: 12px;
  }

  .box_sub{
    font-size: 10px;
  }

  .box-starts{
    padding-top: 15px;
    max-width: 90px;
    max-height: 15px;
  }



  .custom-scroll{
    max-height: 140px;
  }
  .box{
    max-width: 300px;

  }

  .box_subt{
    font-size: 15px;
  }

  .footer_el_gr2{
    margin-right: 0px;
  }

  .footer_txt2{
    display: none;
  }

  .abcomp_group{
    flex-direction: column;
    align-items: center;
  }

  .abcomp_box3{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .abcomp_chunk{


  }

  .abcomp_img{
    display: none;
  }

  


 .nav_container{
  gap: 0;
  transition: gap 0.5s ease; /* анимация для свойства gap */
  display: flex;
 
 }
 .products_context_left {
  padding-right: 0px;

}
.about
{
  align-items: center;

}

.cons_section{
  flex-direction: column;
}


}
@media only screen and (max-width: 1150px) {

  .contact_btn{
    width: 220px;
  }
  .contact_sub{
    font-size: 16px;
  }

  .contact_input{
    width: 332px;
    height: 48px;
  }

  .team_img{
    max-width: 280px;
    max-height: 300px;
  }

  .question{
    font-size: 24px;
  }

  .products{
    align-items: center;
  }

  .trade_titile{
    justify-content: center;
  }

  .lol1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team_title{
    display: flex;

    justify-content: center;
  }

  .faq_title{
    display: flex;

    justify-content: center;
  }

  .abcomp_title{
    display: flex;
    justify-content: center;
  }





  .products_context_right{
    margin-top: 50px;
  }

  .q{
    display: none;
  }
  .products_context{
    flex-direction: column;
  }
 
 
 }

 @media only screen and (max-width: 1050px) {
.swiper-wrapper{
  margin-left: 10%;
  margin-right:10% ;
}

}

@media only screen and (max-width: 990px) {

  .main{

    flex-direction: column;
  
  }

  .contacts{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .team_title {
    justify-content: center;
  }

  .rg{
    justify-content: center;
  }

 
  .nav-list {
    opacity: 0;
    visibility: hidden;

  }
.trade_titile{
  justify-content: center;
}






 }
 @media only screen and (max-width: 930px) {

  .box1_num{
    display: none;
  }
  .box_img2{
    display: none;
  }

  .nav-list {

    display: none;
    
  }
  .question{
    font-size: 20px;
  }

}

  @media only screen and (max-width: 840px) {

    .accordion-menu{
      margin-left: 0;
      margin-right: 0;
    }

 
    .abcomp_box3{
      padding-bottom: 24px;
      width: auto;
      max-width: 450px;
    }
    

    .abcomp_box4{
      padding-left: 24px;
    }

  


    .answer{
      font-size: 15px;
    }
  
    }

  @media only screen and (max-width: 700px) {
  .team_slider{
    margin-left: 10%;
    /* margin-right: 10%; */
  }





  }

  @media only screen and (max-width: 640px) {
 .info_title{

  font-size: 50px;
 }
 .info_subtit{
  font-size: 22px;
}

  
  
  
    }


  @media only screen and (max-width: 613px) {

    .about_btn{
      margin-left: 10%;
      margin-right: 10%;
    }

    .trade_subtitle{
   display: none;
    }


    .trade_group{
      justify-content: center;
      margin-bottom: 30px;
    }
    .plaq_txt1{
      left: 59%;
    }

    .plaq_txt{
      left: 58%;
    }

    .products_btn{
      max-width: 480px;
    }
    .video_mp {
      display: flex;
      max-width: 480px;
      max-height: 320px;
  }

  .products_text {
    font-size: 18px;
    max-width: 480px;
  }
  
    .contact_input{
      width: 320px;
      margin-bottom:10px ;
    }

    /* .contact_btn_group{
      flex-direction: column;
      gap: 10px;
    } */

    
 


    .answer{
      font-size: 12px;
    }

  
    .question{
      font-size: 16px;
    }

    .footer_el_gr2{
      display: none;
    }
  
    }




  @media only screen and (max-width: 530px) {

    .box_subt{
      font-size: 18px;
    }

    .faq_title{
      font-size: 40px;
    }
    .team_title{
      font-size: 40px;
    }

    .abcomp_title{
      font-size: 40px;
    }

    .trade_titile{
      font-size: 40px;
    }
    .info_title{
   
     font-size: 40px;
    }

    .info_subtit{
      font-size: 19.5px;
    }
   
   
     
     
     
       }


  @media only screen and (max-width: 510px) {

.num{
  margin-right: 20px;

}

     
     
     
  }

   

    @media only screen and (max-width: 490px) {

      .contact_sub {
    font-size: 13px;
}

.contact_email{
  font-size: 13px;
}

      .box_subt{
        font-size: 16px;
      }

      .accordion-menu{
        margin-right: 0%;
        margin-left: 0%;
      }

      .second_title{
        font-size: 40px;
      }

      .about_title{
        font-size: 40px;
      }

      .box_title{
        gap:60px
      }

      .footer{
        justify-content: center;
      }
      .footer_el_gr{
        display: none;
      }

    }



@media only screen and (max-width: 450px) {

  .contact_sub {
    font-size: 10px;
}

  .swiper-wrapper{
    margin-left: 10%;
    margin-right: 5%;
  }

  .plaq_txt{
    left: 53.5%;
  }

  .plaq_txt1{
    left: 55%;
  }

  .question{
    font-size: 13px;
  }

 

  .video_mp {
    max-width: 360px;
    max-height: 220px;
}

.products_text {
  font-size: 14px;
  max-width: 360px;
}

.contact_form{
  padding-left: 50px;
}

  
.info_subtit{
  font-size: 17px;
}


  .abcomp_box4{
    padding-left: 24px;
  }

  .abcomp_box2{
    background-image: none;
    background: #060606;;
  }


  .abcomp_img{
    display: none;
  }


  .trade_subtitle{
    display: none;
  }

  .abcomp_box1{
    padding-bottom: 24px;
  }

  .trade_group{
    justify-content: center;
  }


 
   .logo{
     width: 50%;
   }
 }

 @media only screen and (max-width: 420px) {

  .swiper-wrapper{
    margin-left: 5%;
    margin-right: 2%;
  }
  .faq_title{
    font-size: 35px;
  }

  .abcomp_title{
    font-size: 35px;
  }

  .trade_titile{
    font-size: 35px;
  }

  .info_title{
   
    font-size: 35px;
   }

   .question{
    font-size: 12px;
  }


   .info_subtit{
    font-size: 16px;
  }
 

  .box_title{
    gap: 10px;
  }
  .team_slider{
    margin-left: 5%;
    /* margin-right: 10%; */
  }
  }




